/* Add your global styles here */
body {
  margin: 0;
  font-family:
    -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen', 'Ubuntu', 'Cantarell',
    'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.pointer-events-none {
  pointer-events: none;
}

.pointer-events {
  pointer-events: auto;
}

table.properties-table th {
  text-align: left;
}

.clickable {
  cursor: pointer;
  color: blue;
}
